@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <li class="nav-item">
            <NavLink class="nav-link text-dark" href="authentication/profile">Hello, @context.User.Identity.Name!</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link text-dark" @onclick="BeginSignOut">Logout</NavLink>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <NavLink class="nav-link text-dark" href="authentication/register">Register</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link text-dark" href="authentication/login">Login</NavLink>
        </li>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
