<header>
    <a href="/">Home</a>
    {{#if currentUser}}
          <span>Welcome, {{currentUser.username}}!</span>
          <a href="/logout">[Logout]</a>
    {{else}}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    {{/if}}
</header>