<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Node.js Tempalte</title>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <div>
        <div id="container">
            {{> header}}
            <main>
                <h1>Welcome Node.js Template!</h1>
                   {{> error }}
                  {{{ body }}}
            </main>
            {{> footer}}
        </div>
    </div>
</body>

</html>