<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="/">WebUI</a>
            <button class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>            
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">                
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="/">Home</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="counter">Counter</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="fetchdata">Fetch data</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="todo">Todo</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="/api" target="_blank">API</NavLink>
                    </li>
                    <LoginDisplay />
                </ul>
            </div>
        </div>
    </nav>
</header>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
