@inject HttpClient Http

<div class="modal-body">
    <p>All items will be permanently deleted. </p>
</div>
<div class="modal-footer">
    <div class="text-right">
        <button type="button" class="btn btn-default" @onclick="BlazoredModal.Cancel">Cancel</button>
        <button type="button" class="btn btn-danger" @onclick="DeleteList">Delete</button>
    </div>
</div>

@code {
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public int ListId { get; set; }

    private async Task DeleteList()
    {
        await Http.DeleteAsync($"api/TodoLists/{ListId}");

        await BlazoredModal.Close(ModalResult.Ok("Success"));
    }
}
