@using Template.Application.TodoItems.Commands.CreateTodoItem;

@model CreateTodoItemCommand;

<form class="form-inline" method="post" asp-controller="TodoItems" asp-action="Create">
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" asp-for="Title" placeholder="New Item">
        <input type="hidden" asp-for="ListId" />
    </div>
    <button type="submit" class="btn btn-primary mb-2">Add List</button>
</form>