@using Template.Application.Managers.Commands.Create;
@using Template.Domain.Enumerations;
@model CreateManagerCommand;

@{
    ViewData["Title"] = "Create Manager";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Manager" asp-action="Create" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ReceptionDay"></label>
                <select asp-for="ReceptionDay" asp-items="Html.GetEnumSelectList<WeekDay>()" class="browser-default custom-select form-control form-control-lg">
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>


