@using Template.Application.TodoLists.Queries.GetTodos;

@model TodosVm;

@{
    ViewData["Title"] = "Todo";
}

<h1>@ViewData["Title"]</h1>

<p>This is a complex todo list component.</p>

<div class="row">
    <vc:todo-lists model="@Model"></vc:todo-lists>
    <vc:todo-items model="@Model"></vc:todo-items>
</div>
