@using Template.Application.TodoLists.Queries.GetTodos;

@model TodosVm;

<div class="col-sm-8">
    <div class="clearfix">
        <h2 class="float-left">Items</h2>
    </div>
    @if (Model.Lists.Count != 0)
    {
        var selectedListId = Model.Lists.FirstOrDefault(l => l.IsSelected == true).Id;
        var items = Model.Lists.FirstOrDefault(l => l.IsSelected == true).Items;
        <vc:create-todo-item list-id="@selectedListId"></vc:create-todo-item>
        <ul class="list-group">
            @foreach (var item in items)
            {
                <li class="list-group-item">
                    <div class="clearfix">
                        <div class="float-left">

                            <span>@item.Title</span>
                        </div>
                        <div class="float-right">
                            <form asp-controller="TodoItems" asp-action="Delete" method="post">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal_@item.Id">
                                    Delete
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Plase, confirm!</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you wat to delete this item?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger">Ok</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
            }
        </ul>
    }

</div>